 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
 @import url('https://fonts.googleapis.com/css?family=Dosis:300,400,600,700');

html, body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5{
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
}

p{
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

text{
	margin-right: 100px;
}

section{
	margin-left: 2em;
	position: relative;
}

footer{
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
}

.font-dosis{
	font-family: 'Dosis', sans-serif;
}

.main-menu{
	position: fixed;
	display: flex;
	background-color: #000;
	z-index: 1;
	height: 100%;
}

.main-menu a{
	display: block;
	color: #fff;
	line-height: auto;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	transform-origin: 35%;
	margin: 0px 1px 0px 13px;
	padding: 20px 16px 20px 14px;
}

.main-menu a:hover, .main-menu .active{
	background: #0072ff;
	/* padding-left: -20px; */
}

.scrollspy-example {
	position: relative;
	height: 250px;
	overflow: auto;
}

#top{
	width: 100%;
	height: auto;
    font-family: 'Open Sans', sans-serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: url('../img/geometry2.png') repeat;
    animation: bgscrollanimate 15s linear infinite;
    animation-fill-mode: forwards;
}

@-webkit-keyframes bgscrollanimate {
	from {background-position: 0 0;}
	to {background-position: -180px 0px;}
}

@keyframes bgscrollanimate {
	from {background-position: 0 0;}
	to {background-position: -180px 0px;}
}

.img-thumbnail{
	height: 15em !important;
	border-radius: 50%;
	background-color: #0072ff !important;
	border: 0px !important;
}

.font-title{
    font-family: 'Dosis', sans-serif;
	font-weight: 700;
    font-size: 4em;
    line-height: 1.2em;
}

.font-color-green{
	color: #56ab2f;
}

.font-color-blue{
	color: #0072ff;
}

.h-80{
	height: 85vh;
}

.m-50{
	padding-top: 20vh !important;
}

.social-bar a{
	color: #222;
}

.social-bar a:hover{
	color: #444;
	text-decoration: none;
}

/*About me*/
.contacts{
	padding: 5px 10px 5px 10px;
	background-color: #0072ff;
	color: #fff;
	border-radius: 5px;
}

.font-size-contacts{
	font-size: 1em !important;
}

.progress-bar, .progress{
	border-radius: 5px !important;
	height: 5px;
}

.btn{
	border-radius: 1.5rem !important;
	color: white !important;
}

.about-divider{
	display: inline-block;
	transform: skew(-20deg);
	height: 10em;
	width: 1px;
	margin-top: 3em;
	background: #aaa;
}

/* footer */
footer{
	background: #000;
}