 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html, body{
	width: 100%;
	height: 100%;
	background: #457fca;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	overflow-x: hidden;

}

.foreground{
	background: #fff;
	width: 99%;
	height: auto;
	border-radius: 10px;
}

section{
	height: auto;
	width: 100%;
}

.main-menu{
	position: absolute;
	background-color: white;
	z-index: 1;
	height: auto;
	margin-right: 0;
}

#top{
	/*background: url('../img/DSC_0036-01.jpeg') no-repeat center right;*/
	width: 100%;
	height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.font-title{
	font-weight: 700;
    font-size: 4em;
}

.font-color-green{
	color: #56ab2f;
}

.font-color-blue{
	color: #5691c8;
}

.h-80{
	height: 85vh;
}

.m-50{
	padding-top: 20vh !important;
}

/*#top > .container-fluid > .row > .social-bar{

}*/

.social-bar a{
	color: #222;
}

.social-bar a:hover{
	color: #444;
	text-decoration: none;
}
/*#top > .overlay{
	background: rgba(10, 10, 10, 0.7);
	width: 100%;
	height: 100vh;
}*/