 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
 @import url('https://fonts.googleapis.com/css?family=Dosis:300,400,600,700');

html, body{
	width: 100%;
	height: 100%;
	background: #00c6ff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Open Sans', sans-serif;

	overflow-x: hidden;

}

h1,h2,h3,h4,h5{
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
}

p{
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	font-size: 24px;
}

footer{
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
}

.font-dosis{
	font-family: 'Dosis', sans-serif;
}

.foreground{
	background: #fff;
	width: 99%;
	height: auto;
	border-radius: 10px;
}

.main-menu{
	position: absolute;
	background-color: white;
	z-index: 1;
	height: auto;
	margin-right: 0;
}

#top{
	width: 100%;
	height: 100%;
    font-family: 'Open Sans', sans-serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: url('../img/geometry2.png') repeat;
    animation: bgscrollanimate 15s linear infinite;
    animation-fill-mode: forwards;
}

@-webkit-keyframes bgscrollanimate {
from {background-position: 0 0;}
to {background-position: -180px 0px;}
}

@keyframes bgscrollanimate {
from {background-position: 0 0;}
to {background-position: -180px 0px;}

}

.font-title{
    font-family: 'Dosis', sans-serif;
	font-weight: 700;
    font-size: 4em;
    line-height: 1.2em;
}

.font-color-green{
	color: #56ab2f;
}

.font-color-blue{
	color: #0072ff;
}

.h-80{
	height: 85vh;
}

.m-50{
	padding-top: 20vh !important;
}

/*#top > .container-fluid > .row > .social-bar{

}*/

.social-bar{
	/*background-color: #fff;*/
}

.social-bar a{
	color: #222;
}

.social-bar a:hover{
	color: #444;
	text-decoration: none;
}
/*#top > .overlay{
	background: rgba(10, 10, 10, 0.7);
	width: 100%;
	height: 100vh;
}*/

/*About me*/
.contacts{
	padding: 5px 10px 5px 10px;
	background-color: #0072ff;
	color: #fff;
	border-radius: 15px;
}

.progress-bar, .progress{
	border-radius: 5px !important;
	height: 5px;
}

.btn{
	border-radius: 1.5rem !important;
	color: white !important;
}